In [20]:
import csv
import numpy as np
import pandas as pd

#with open('top_earners.csv') as top_earners:
    #golfers = list(csv.DictReader(top_earners))
    
# First experience with CAPTCHA...

#import requests
#first = requests.get('http://www.pdga.com/players?FirstName=&LastName=&PDGANum=&Status=All&Gender=All&Class=All&MemberType=All&City=&StateProv=All&Country=All&Country_1=All&UpdateDate=&order=Rating_1&sort=desc')
#second = requests.get('https://www.pdga.com/players?FirstName=&LastName=&PDGANum=&Status=All&Gender=All&Class=All&MemberType=All&City=&StateProv=All&Country=All&Country_1=All&UpdateDate=&order=Rating_1&sort=desc&page=1')
#urls = []
#for x in range(1,150):
#    urls.append('http://www.pdga.com/players?FirstName=&LastName=&PDGANum=&Status=All&Gender=All&Class=All&MemberType=All&City=&StateProv=All&Country=All&Country_1=All&UpdateDate=&order=Rating_1&sort=desc&page={}'.format(x))
#df_lst = []
#df_lst.append(pd.read_html(first.text)[0])
#for url in urls:
#    x = requests.get(url)
#    df = pd.read_html(x.text)[0]
#    df_lst.append(df)
#pdga_df = pd.concat(df_lst).reset_index()  
#pdga_df.to_excel('disc_golfers.xlsx')

dg_df = pd.read_excel('disc_golfers.xlsx')
dg_df

us_region_dict = {
    'West' : ['WA', 'OR', 'ID', 'MT', 'CA', 'NV', 'UT', 'CO'],
    'Southwest' : ['AZ', 'NM', 'TX', 'OK'],
    'Midwest' : ['ND', 'SD', 'NE', 'KS', 'MO', 'IA', 'MN', 'WI', 'MI', 'IL', 'IN', 'OH'],
    'Southeast' : ['AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'WV', 'VA', 'NC', 'SC', 'GA', 'FL'],
    'Northeast' : ['PA', 'NY', 'VT', 'NH', 'ME', 'MA', 'RI', 'CT', 'NJ', 'DE', 'MD']
}

state_region_dict: {}
    
for key, value in us_region_dict:
    for state in value:
        state_region_dict[state].append(key)


#dg_df['Region'] =

ValueError: too many values to unpack (expected 2)

In [17]:
def get_status(status):
    return status.split(' ')[0]
dg_df['Status'] = dg_df['Membership Status'].apply(lambda x: f"{get_status(x)}")
current = dg_df.loc[dg_df['Status'] == 'Current']
current = current.drop(columns=['Membership Status'])
current

,Unnamed: 0,index,Name,PDGA #,Rating,Class,City,State/Prov,Country,Status
1,1,1,Richard Wysocki,38008,1053.0,Pro,Campobello,SC,United States,Current
2,2,2,Eagle Wynne McMahon,37817,1053.0,Pro,Boulder,CO,United States,Current
3,3,3,Paul McBeth,27523,1051.0,Pro,Huntington Beach,CA,United States,Current
4,4,4,Calvin Heimburg,45971,1049.0,Pro,Safety Harbor,FL,United States,Current
5,5,5,Andrew Simmons,166681,1044.0,Pro,Plano,TX,United States,Current
...,...,...,...,...,...,...,...,...,...,...
3739,3739,14,Aaron Sims,18053,967.0,Pro,Saraland,AL,United States,Current
3741,3741,16,Janek Möllhausen,122338,967.0,Am,Bremen,NaN,Germany,Current
3742,3742,17,Nick DesBouillons,89582,967.0,Pro,Fountain,CO,United States,Current
3743,3743,18,Hunter Bennett,100526,967.0,Pro,Knoxville,TN,United States,Current
3744,3744,19,Steve Duros,33595,967.0,Pro,Columbus,OH,United States,Current